


<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div ng-if ="vm.errorMessage" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{vm.errorMessage}}
        </div>

        <form name="formLogin" class="form-default  form-login">

            <div class="form-group"
                 ng-class="{'has-error': formLogin.$dirty && !formLogin.loginUsername.$valid }"
            >
                <label for="loginUsername" class=" ">EMAIL</label>
                <input type="email"
                       class="form-control"
                       required
                       id="loginUsername"
                       name="loginUsername"
                       placeholder="Inserisci la tua email"
                       ng-model="vm.login.username"
                />
            </div>

            <div class="form-group password-container"
                 ng-class="{'has-error': formLogin.$dirty && !formLogin.loginPassword.$valid }"
            >
                <label for="loginPassword" class="control-label">PASSWORD</label>
                <input type="password"
                       class="form-control"
                       id="loginPassword"
                       name="loginPassword"
                       ng-model="vm.login.password"
                       ng-minlength="6"
                       required
                       placeholder="Inserisci la tua password"/>
            </div>
            <!--
             ng-disabled="!formLogin.$valid"
                             ng-class="{'enable' : formLogin.$valid }"
            -->
            <div class="button-container">
                <button type="button"
                        ng-disabled="!formLogin.$valid"
                        class="btn btn-primary"
                        ng-click="vm.login()"

                ><span>ACCEDI</span></button>
            </div>

        </form>

    </div>

</div>
